* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-family: sans-serif;
}
body {
  padding: 4px 5% 0 5%;
}
.header {
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  /* width: 95%; */
  margin: auto;
  background-color: white;
}
.header-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header-links {
  width: 400px;
  display: flex;
  justify-content: space-around;
  a {
    color: purple;
    text-decoration: none;
    font-weight: bolder;
  }
}
.welcome-card {
  text-align: center;
  margin: 100px auto 0px auto;
  h1 {
    color: purple;
    font-size: 3rem;
  }
}
.main-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  button {
    color: white;
    background-color: purple;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 8px;
    margin: 8px;
  }
}
.index-footer {
  position: absolute;
  bottom: 0px;
  width: 94%;
  text-align: center;
  background-color: white;
}
.footer {
  text-align: center;
  background-color: white;
}
.social-media {
  margin: 20px 0px;
}
.quick-links {
  margin: 12px;
  a {
    color: purple;
    text-decoration: none;
    font-weight: bolder;
    margin: 0px 12px;
  }
  a:hover {
    text-decoration: underline;
    transform: scale(2);
  }
}
.copyright p {
  margin: 20px 0px;
  font-size: 0.6rem;
}
.social-icons {
  font-size: 1.5rem;
  color: purple;
  margin: 0 8px;
}
.social-icons:hover {
  color: purple;
  font-size: 2rem;
}
